.main {
  width: 100vw;
  height: 100vh;
  /* background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.main h1 {
  margin: 0;
  padding: 0;
}
