.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 100;
}

.header a {
  text-decoration: none;
  color: #fff;

}
