/* .header {
    font-size: 13.93;
    background: #231f20;
} */
/* .row:nth-of-type(odd){
    background: #231f20;
    
}
.row:nth-of-type(even){
    background: #383425;
} */
/* .TableRow{
    text-align: center;
    background: #231f20;
    font-family: Ubuntu Regular, sans-serif;
} */
/* .wrap{
    width: 343px;
} */
/* .www{
    text-align: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
} */
